<!DOCTYPE html>
<br>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Metrics Service</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.2/dist/css/datepicker-bs4.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css" href="/web/static/styles.css">

    <style>
        footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            height: 50px;
        }

        body {
            min-height: 400px;
            margin-bottom: 50px;
            clear: both;
        }
    </style>
</head>

<body>
<header>
    <div style="background: url(https://tandsgo.com/wp-content/uploads/2020/09/Facebook-cover-photo-purple-and-blue-abstract.jpg); background-size: cover" class="jumbotron bg-cover text-white">
        <div class="Metrics Service">
            <h1 class="display-4 font-weight-bold">Metrics Service</h1>
            <p class="font-italic mb-0">Using Metrics Service monitor your essential statistics on your application, network, and server.</p>
        </div>
    </div>
</header>

<p> Details for metric: {{.Name}}, for the period between {{.From}} and {{.To}}</p>
<table class="table table-striped">
    <tr>
        <th>TimeStamp</th>
        <th>Value</th>
    </tr>
    {{ range .Metrics}}
        <tr>
            <td>{{.TimeStamp}}</td>
            <td>{{.Value}}</td>
        </tr>
    {{ end }}
</table>

<footer class="section footer-classic context-dark bg-image text-white" style="background: url(https://tandsgo.com/wp-content/uploads/2020/09/Facebook-cover-photo-purple-and-blue-abstract.jpg); background-size: cover">
    <div class="container">
        <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                <!-- Rights-->
                <p class="rights"><span>©  </span><span class="copyright-year">2022</span><span> </span><span>Metrics Service</span><span> - </span><span>All Rights Reserved.</span></p>
            </div>
        </div>
    </div>
</footer>

</body>

</html>